<!-- ======= Post Grid Section ======= -->
@if(isPostLoading()){
<blog-loader loadingText="Loading Post..." />
}@else if(posts()){ @if(displayGallery){ @defer(){
<gallery
  class="relative"
  id="PROJECT_GALLERY"
  imageSize="cover"
  [autoPlay]="true"
>
  <ng-container *galleryImageDef="let item; let active = active">
    <div
      *ngIf="active"
      class="min-h-16 bg-white rounded-md absolute top-8 flex items-center justify-center p-4"
    >
      <a
        class="text-black text-center font-bold"
        routerLink="/post/{{ item?.args }}"
      >
        {{ item?.alt }}
      </a>
    </div>
  </ng-container>
  <div *galleryItemDef="let item; let type = type">
    <a routerLink="/post/{{ item?.args }}">
      <div *ngIf="type === 'image'">
        <img [src]="item?.src" />
      </div>
      <div *ngIf="type === 'video'">
        <video>
          <source [src]="item?.src" />
        </video>
      </div>
    </a>
  </div>
</gallery>
}@loading(minimum 500ms){
<blog-loader loadingText="Loading post gallery..." />
}@error {
<blog-empty message="Failed to Load post gallery. Please refresh this page!" />
} }
<section id="posts" class="posts !mt-8">
  <div class="container" data-aos="fade-up">
    <div class="row g-5">
      <div class="col-lg-4">
        <div class="post-entry-1 hidden md:block lg">
          <a [routerLink]="['/post', posts()![0].id]"
            ><img [src]="posts()![0].image" alt="" class="img-fluid"
          /></a>
          <div class="post-meta">
            @for (tag of posts()![0].tags; track $index) {
            <span class="date">{{ tag }}</span>
            }
            <span class="mx-1">&bullet;</span>
            <span> {{ posts()![0].publishDate | date }} </span>
          </div>
          <h2>
            <a [routerLink]="['post', posts()![0].id]">{{
              posts()![0].title
            }}</a>
          </h2>
          <p class="mb-4 d-block">
            {{ posts()![0].title }}
          </p>

          <div class="d-flex align-items-center author">
            <div class="photo">
              <img [src]="posts()![0].owner.picture" alt="" class="img-fluid" />
            </div>
            <div class="name">
              <h3 class="m-0 p-0">{{ posts()![0].owner.firstName }}</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="row g-5">
          @for (post of posts(); track post.id) {
          <div class="col-lg-4 border-start custom-border">
            <div class="post-entry-1">
              <a [routerLink]="['/post', post.id]"
                ><img [src]="post.image" alt="" class="img-fluid"
              /></a>
              <div class="post-meta">
                @for (tag of post.tags; track $index) {
                <span class="date">{{ tag }}</span>
                }
                <span class="mx-1">&bullet;</span>
                <span> {{ post?.publishDate | date }} </span>
              </div>
              <h2>
                <a [routerLink]="['/post', post.id]">
                  {{ post.title }}
                </a>
              </h2>
            </div>
          </div>
          }

          <blog-pagination
            [currentPage]="currentPage()"
            [totalPages]="totalPages()"
            [itemsPerPage]="itemsPerPage"
            (pageChanged)="onPageChanged($event)"
          />

          @if(viewTrending){
          <!-- Trending Section -->
          <div class="col-lg-4">
            <div class="trending">
              <h3>Trending</h3>
              <ul class="trending-post">
                @for (trendingPost of posts(); track trendingPost.id) {
                <li>
                  <a [routerLink]="['/post', trendingPost.id]">
                    <span class="number">1</span>
                    <h3>
                      {{ trendingPost.title }}
                      {{ trendingPost.title }}
                    </h3>
                    <span class="author">
                      {{
                        trendingPost.owner.firstName +
                          trendingPost.owner.lastName
                      }}
                    </span>
                  </a>
                </li>

                }
              </ul>
            </div>
          </div>
          }
          <!-- End Trending Section -->
        </div>
      </div>
    </div>
    <!-- End .row -->
  </div>
</section>
<!-- End Post Grid Section -->
}
