@if(itemsPerPage > 10){
<div class="text-start py-4">
  <div class="custom-pagination">
    <a class="prev" (click)="prevPage()">Previous</a>
    @for (page of pages; track $index) {
    <ng-container [ngSwitch]="page">
      <a
        *ngSwitchCase="currentPage"
        class="active !text-white cursor-pointer"
        >{{ page }}</a
      >
      <a
        *ngSwitchDefault
        (click)="goToPage(page)"
        class="!text-white cursor-pointer"
        >{{ page }}</a
      >
    </ng-container>
    }
    <a class="next cursor-pointer" (click)="nextPage()">Next</a>
  </div>
</div>
}
