<div id="app" class="font-roboto bg-gray-100">
  <blog-navbar />

  <div class="px-6 py-8">
    <div class="flex justify-between container mx-auto">
      <div class="w-full lg:w-8/12">
        <div class="flex items-center justify-between">
          <h1 class="text-xl font-bold text-gray-700 md:text-2xl">Post</h1>
          <!-- <post-filter></post-filter> -->
        </div>
        <div class="mt-6" v-for="post in posts" :key="post.id">
          <blog-post [posts]="post()" />
        </div>
        <div class="mt-8">
          <blog-pagination />
        </div>
      </div>
      <div class="-mx-8 w-4/12 hidden lg:block">
        <div class="px-8">
          <h1 class="mb-4 text-xl font-bold text-gray-700">Authors</h1>
          <blog-blog-user-list />
        </div>
        <div class="mt-10 px-8">
          <h1 class="mb-4 text-xl font-bold text-gray-700">Categories</h1>
          <blog-blog-categories />
        </div>
        <div class="mt-10 px-8">
          <h1 class="mb-4 text-xl font-bold text-gray-700">Recent Post</h1>
          <blog-recent-blog />
        </div>
      </div>
    </div>
  </div>

  <blog-footer />
</div>
