<div class="text-start py-4">
  <div class="custom-pagination flex items-center justify-evenly gap-4">
    <a class="prev cursor-pointer" (click)="prevPage()">Previous</a>
    <div
      class="bg-slate-500 rounded text-white w-fit h-fit py-2 px-4 text-center font-bold text-base mx-4"
    >
      {{ pages() }}
    </div>
    <a
      (click)="goToPage(currentPage)"
      class="!text-white bg-black cursor-pointer"
      >{{ currentPage }}</a
    >
    <a class="next cursor-pointer" (click)="nextPage()">Next</a>
  </div>
</div>
