<section class="single-post-content">
  <div class="container">
    <div class="row">
      <div class="col-md-9 post-content" data-aos="fade-up">
        @if (post == null) {
        <blog-empty message="Post not found!" />
        } @else if (isPostLoading()) {
        <blog-loader loadingText="Loading Post..." />
        }@else {
        <!-- ======= Single Post Content ======= -->
        <div class="single-post">
          <div class="post-meta">
            <span class="date"> {{ post.tags![0] }} </span>
            <span class="mx-1">&bullet;</span>
            <span> {{ post.publishDate | date }} </span>
          </div>
          <h1 class="mb-5">
            {{ post.text }}
          </h1>
          <p>
            <span class="firstcharacter uppercase">
              {{ postDescriptionFirstCharacter }}</span
            >
            {{ post.text }}
          </p>

          <figure class="my-4">
            <img
              [src]="post.image"
              alt=""
              class="!w-full md:!w-[50rem] bg-cover !max-h-[90vh] mt-8 img-fluid"
            />
            <figcaption>
              <div>
                <a
                  class="btn btn-primary"
                  routerLink="/post/{{ post.id }}/update"
                  >Update Post</a
                >
                <button
                  class="btn btn-danger"
                  type="button"
                  (click)="deletePost(post.id)"
                >
                  {{ isPostLoading() ? "Deleting." : "Delete Post" }}
                </button>
              </div>
              {{ post.title }}
            </figcaption>
          </figure>
          <p>
            {{ post.content }}
          </p>
        </div>
        }
        <!-- End Single Post Content -->
      </div>

      <div class="col-md-3">
        <blog-sidebar [post]="post!" />
      </div>
    </div>
  </div>
</section>
