*, *::after *::before{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing:  border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

 
.slick-dots li button::before{
  content: "";
 font-size: 10px !important;
}

.slick-dots li:hover button::before{
 font-size: 20px !important;
 color: #ef4444cd !important;
}

.slick-dots .slick-active button::before{
 font-size: 20px !important;
   color: #ef4444cd !important;
   color: transparent;
}

.slick-prev::before,
.slick-next::before {
  background-color: #fff !important;
  color: #ef4444cd !important;
  border-radius: 50%;
}

@media(max-width: 640px){
  .slick-prev::before,
.slick-next::before {
  display: none !important;
}
}

/* Define the styles for the scrollbar track and thumb */
/* Define the styles for the scrollbar track and thumb */
/* This will work in some modern browsers (e.g., Chrome) */

/* Track (the background of the scrollbar) */
::-webkit-scrollbar {
  @apply w-2;
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
 @apply bg-primary rounded-md transition-all duration-200;
}

/* Handle when the user hovers over the thumb */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary cursor-grab;
}

/* Track (background of the scrollbar) when not hovering over the thumb */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle when the user hovers over the track */
::-webkit-scrollbar-track:hover {
  background: #ddd;
}

/* Corner (between the vertical and horizontal scrollbars) */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}